* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Helvetica";
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  background-color: #eeeeee;
  color: rgba(0, 0, 0, 0.7019607843);
  scroll-behavior: smooth;
}

hr {
  margin: 2rem auto;
  width: 90%;
}
hr.light {
  border: 0;
  height: 0;
  border-top: 0.05rem solid rgba(0, 0, 0, 0.1019607843);
  border-bottom: 0.05rem solid rgba(255, 255, 255, 0.3019607843);
}
hr.heavy {
  height: 0.12rem;
  background-image: -o-linear-gradient(left, #f0f0f0, #9c9b9b, #f0f0f0);
}

::-moz-selection {
  background-color: rgba(253, 77, 121, 0.5019607843);
}

::selection {
  background-color: rgba(253, 77, 121, 0.5019607843);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  color: #ffffff;
  background-color: #2c4457;
}
header div#left {
  flex: 0 0 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header div#right {
  flex: 0 0 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header div#right p#headertitle {
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem 1rem 0.5rem 1rem;
}
header div#right div#headerButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header div#right div#headerButtonContainer a.headerButton {
  display: inline-block;
  margin: 0.02rem;
  padding: 0.4rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.5rem;
  transition: background-color 0.5s;
}
header div#right div#headerButtonContainer a.headerButton:hover {
  background-color: #71bbb0;
  transition: background-color 0.2s;
}
header div#right div#headerButtonContainer a.headerButton img {
  height: 2rem;
  transition: transform 0.5s;
}
header div#right div#headerButtonContainer a.headerButton img:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

nav {
  z-index: 2;
  background-color: #2c4457;
  position: fixed;
  top: -20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: top 0.2s;
  opacity: 0.975;
  text-align: center;
}
nav a {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  padding: 1vw 2vw;
  text-decoration: none;
  font-size: min(1rem, 2vw);
  font-weight: bold;
  transition: background-color 0.2s ease;
}
nav a:hover {
  background-color: #71bbb0;
  transition: background-color 0.2s ease;
}

section {
  width: 98%;
  margin: 1rem auto;
  text-align: center;
}
section a.textLink {
  text-decoration: none;
  font-weight: bold;
  color: rgba(14, 113, 131, 0.8274509804);
}
section a.textLink:hover {
  text-decoration: underline;
}
section div.projectInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section div.projectInfoContainer div.projectInfoImageColumn {
  width: 30%;
  margin: 0.5rem;
  display: flex;
  justify-content: right;
}
section div.projectInfoContainer div.projectInfoImageColumn img {
  width: 95%;
  max-width: 32rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  padding: 0.2rem;
  position: relative;
  border: 0.1rem #bbbbbb solid;
  border-radius: 0.1rem;
  background-color: white;
  transition: scale 0.5s, transform 0.5s;
}
section div.projectInfoContainer div.projectInfoImageColumn img:hover {
  transform: translate(30%, 0%);
  scale: 2.5;
  z-index: 1;
  transition: scale 1s, transform 0.5s;
}
section div.projectInfoContainer div.projectTextColumn {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 70%;
}
section div.projectInfoContainer div.projectTextColumn p {
  text-align: left;
  line-height: 1.5rem;
  margin: 0.5rem 1rem;
}
section div.projectInfoContainer div.projectTextColumn li {
  text-align: left;
  line-height: 1.5rem;
  margin: 0rem 1rem;
}
section div.projectInfoContainer div.projectTextColumn p.authorline {
  text-align: left;
  font-size: 1rem;
  margin: 0.5rem 1rem;
  color: rgba(14, 113, 131, 0.8274509804);
}
section div.projectInfoContainer div.projectTextColumn div.projectButtonRow {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 1rem;
}
section div.projectInfoContainer div.projectTextColumn div.projectButtonRow a {
  width: 5rem;
  padding: 0.25rem;
  margin-right: 0.5rem;
  font-weight: bold;
  border: 0.25rem rgba(187, 187, 187, 0.2941176471) solid;
  text-decoration: none;
  color: #e97894;
  border-radius: 0.5rem;
  background-color: rgb(248, 248, 248);
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}
section div.projectInfoContainer div.projectTextColumn div.projectButtonRow a:hover {
  background-color: white;
  color: #fd4d79;
  border: 0.25rem #ff8fab solid;
  transition: background-color 0.1s, border 0.1s, color 0.1s;
}
section#Biography p#bioLine {
  text-align: left;
  line-height: 1.5rem;
  margin: 0.5rem 1rem;
}
section#Biography div#bioLogoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
section#Biography div#bioLogoContainer div.bioLogoColumn {
  width: 9rem;
  padding: 0.5rem;
}
section#Biography div#bioLogoContainer div.bioLogoColumn img {
  width: 7.5rem;
  height: 7.5rem;
  margin: 0.5rem;
  transition: transform 1s;
}
section#Biography div#bioLogoContainer div.bioLogoColumn img:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}
section#Biography div#bioLogoContainer div.bioLogoColumn p.logoLine {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0;
}
section#Biography div#bioLogoContainer div.bioLogoColumn p.logoSubLine {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 0.2rem;
  letter-spacing: 0rem;
}

footer {
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
footer a#topButtonAction {
  width: 10rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  border-radius: 1rem;
  background-color: #2c4457;
  transition: background-color 0.5s, scale 0.5s;
}
footer a#topButtonAction:hover {
  background-color: #71bbb0;
  scale: 1.2;
  transition: background-color 0.2s, scale 0.2s;
}

/* Pad */
@media only screen and (max-width: 1024px) {
  section div.projectInfoContainer {
    flex-direction: column;
  }
  section div.projectInfoContainer div.projectInfoImageColumn {
    width: 60%;
    justify-content: center;
  }
  section div.projectInfoContainer div.projectInfoImageColumn img:hover {
    transform: translate(0);
    scale: 1;
  }
  section div.projectInfoContainer div.projectTextColumn {
    width: 95%;
  }
}
/* Phone */
@media only screen and (max-width: 540px) {
  header {
    flex-direction: column;
  }
  header div#left {
    flex: 0 0 0;
  }
  header div#right {
    flex: 0 0 0;
  }
  nav {
    display: none;
  }
  footer {
    padding: 0;
  }
  footer a#topButtonAction {
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
    border-radius: unset;
  }
}/*# sourceMappingURL=presentational.css.map */